<h2>Deine Assoziationen <small>neueste zuerst</small></h2>

<ul class="nav nav-list">
<% @all_asses.each do |userass| %>
  <% ass = userass.assoziation %>
  <li>
      <ul class="list-inline">

        <li><%= link_to ass.ding_eins do %>
          <%= glyph(ass.ding_eins.get_symbol) %> <%= ass.ding_eins.name %>
          <% end %></li>
        <li><%= link_to userass do %>
            <%= glyph(:link) %>
          <% end %></li>
        <li><%= link_to ass.ding_zwei do%>
          <%= glyph(ass.ding_zwei.get_symbol) %> <%= ass.ding_zwei.name %>
          <% end %></li>
        <li><%= badge(ass.created_at.strftime("%Y-%m-%d"), :warning) %></li>
        <li>
          <%= link_to (url = '#'), :onclick => 'remove_asso_for_curr_user(' + ass.id.to_s + ');' do %>
            <%= glyph(:minus) %>
          <% end %>
        </li>
      </ul>
  </li>
<% end %>
</ul>
<%= will_paginate @all_asses, {:params => {anchor: 'all'}} %>