<h2>Neue Assoziation</h2>
Benutzer <%= @userass.user.email %> hat eine neue Assoziation hinzugefügt!

<h2>Assoziation</h2>
<ul class="list-inline">
    <li><%= link_to @userass.assoziation.ding_eins.name, @userass.assoziation.ding_eins %></li>
    <li><%= link_to @userass.assoziation do %>
        <%= glyph(:link) %>
      <% end %></li>
    <li><%= link_to @userass.assoziation.ding_zwei.name, @userass.assoziation.ding_zwei %></li>
</ul>