<h2><%= I18n.t("user_assoziations.show.neue_assoziation") %></h2>
<% if @userass.published or @userass.user == current_user %>
	<% if @userass.user == current_user %>Du hast<% else %><%= I18n.t("user_assoziations.show.benutzer") %> <%= @userass.user.email %> hat<% end %> eine neue Assoziation hinzugefügt!
	<br>
	Published? <%= best_in_place @userass, :published, :as => :checkbox, :collection => [raw("<i class='fa fa-square-o'></i>"), raw("<i class='fa fa-check-square-o'></i>")]%>

	<h2><%= I18n.t("user_assoziations.show.assoziation") %></h2>
	<ul class="list-inline">
	    <li><% if not @userass.assoziation.ding_eins.published %><i><% end %><%= link_to @userass.assoziation.ding_eins.name, @userass.assoziation.ding_eins %><% if not @userass.assoziation.ding_eins.published %></i><% end %></li>
	    <li><%= link_to @userass.assoziation do %>
	        <%= fa_icon(:link) %>
	      <% end %></li>
	    <li><% if not @userass.assoziation.ding_zwei.published %><i><% end %><%= link_to @userass.assoziation.ding_zwei.name, @userass.assoziation.ding_zwei %><% if not @userass.assoziation.ding_zwei.published %></i><% end %></li>
	</ul>

	<h2><%= I18n.t("user_assoziations.show.beschreibung") %></h2>
	<% if @userass.user == current_user %>
	<%= best_in_place @userass, :description, :as => :textarea, :place_holder => 'Du hast noch keine Beschreibung für diese Assoziation hinterlegt. Klicke hier um dies nun zu tun.', :ok_button => 'Save' %>
	<% else %>
	<%= I18n.t("user_assoziations.show.dieser_benutzer_hat_für_diese_assoziation_keine_beschreibung_hinterlegt") %>
	<% end %>

	<h2>Assoziation Aufheben</h2>
	Ich assoziiere diese beiden Dinge nicht mehr. Diese Assoziation <%= link_to 'aufheben', url_for([current_user, @userass]), :method => 'delete' %>.
<% else %>
Du hast keinen Zugriff auf diese Assoziation.
<% end %>