<div class="page-header">
  <h1><%= I18n.t("favorites") %></h1>
</div>
<h2><%= I18n.t("favorits.index.neuer_favorit") %></h2>
<%= I18n.t("favorits.index.füge_einen_neue_favorit") %> <%= link_to I18n.t("hinzu"), new_user_favorit_path(current_user) %>.

<h2><%= I18n.t("favorits.index.deine_favoriten") %></h2>
<ul class="nav nav-list">
	<% @favorits.each do |fav| %>
		<li><%= ding_to_html(fav.ding) %></li>
	<% end %>
</ul>
