<div class="page-header">
  <h1><%= I18n.t("associations") %></h1>
</div>
<h2><%= I18n.t("assoziations.index.neue_assoziation") %></h2>
<%= I18n.t("assoziations.index.füge_eine_neue_assoziation") %> <%= link_to I18n.t("hinzu") , new_assoziation_path %>.

<% if params.has_key?(:user_id) %>
  <% if current_user.id.to_s != params["user_id"] %>
    <h2><%= I18n.t("assoziations.index.Übereinstimmung_mit_dir") %></h2>
    <%= number_to_percentage current_user.get_agreement.detect{|h| h["user2_id"] == params[:user_id].to_i}["agreement"]*100 %> der Assoziationen von '<%= User.find(params[:user_id]).email%>' hast du ebenso assoziiert.
  <% end %>
<% end %>

<% if params.has_key?(:user_id) %>
<h2>Neueste Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.neueste_assoziationen") %></h2>
<% end %>
 
<ul class="nav nav-list">
<% @asses.each do |ass| %>
    <li><ul class="list-inline">
        <li><%= link_to ass.assoziation.ding_eins do %>
          <%= fa_icon(ass.assoziation.ding_eins.get_symbol) %> <%= ass.assoziation.ding_eins.name %>
          <% end %></li>
        <li><%= link_to ass do %>
            <%= fa_icon("long-arrow-right") %>
          <% end %></li>
        <li><%= link_to ass.assoziation.ding_zwei do%>
          <%= fa_icon(ass.assoziation.ding_zwei.get_symbol) %> <%= ass.assoziation.ding_zwei.name %>
          <% end %></li>
        <li><%= badge(ass.created_at.strftime("%Y-%m-%d"), :warning) %></li>
        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass.assoziation.id).count == 0 %>
        <li>
          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.assoziation.id.to_s + ');' do %>
            <%= fa_icon(:plus) %>
          <% end %>
        </li>
        <% end %>
    </ul></li>
<% end %>
</ul>
<% if params.has_key?(:user_id) %>
<h2>Neueste Unbekannte Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.neueste_unbekannte_assoziationen") %></h2>
<% end %>
<% if @new_unknown_asses.count > 0 %>
  <ul class="nav nav-list">
  <% @new_unknown_asses.each do |userass| %>
    <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
    <% ding_eins = ass.ding_eins %>
    <% ding_zwei = ass.ding_zwei %>
    <li><ul class="list-inline">
        <li><%= link_to ding_eins do %>
          <%= fa_icon(ding_eins.get_symbol) %> <%= ding_eins.name %>
          <% end %></li>
        <li><%= link_to ass do %>
            <%= fa_icon("long-arrow-right") %>
          <% end %></li>
        <li><%= link_to ding_zwei do %>
          <%= fa_icon(ding_zwei.get_symbol) %> <%= ding_zwei.name %>
          <% end %></li>
        <li><%= badge(ass.created_at.strftime("%Y-%m-%d"), :warning) %></li>
        <li>
          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
            <%= fa_icon(:plus) %>
          <% end %>
        </li>
    </ul></li>
  <% end %>
</ul>
<% else %>
  <%= I18n.t("assoziations.index.keine_unbekannten_assoziationen") %>
<% end %>

<% if params.has_key?(:user_id) %>
<h2>Beliebteste Unbekannte Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.beliebteste_unbekannte_assoziationen") %></h2>
<% end %>
<% if @new_asses.count > 0 %>
  <ul class="nav nav-list">
  <% @new_asses.each do |userass| %>
    <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
    <% ding_eins = ass.ding_eins %>
    <% ding_zwei = ass.ding_zwei %>
    <li><ul class="list-inline">
        <li><%= link_to ding_eins do %>
          <%= fa_icon(ding_eins.get_symbol) %> <%= ding_eins.name %>
          <% end %></li>
        <li><%= link_to ass do %>
            <%= fa_icon("long-arrow-right") %>
          <% end %></li>
        <li><%= link_to ding_zwei do %>
          <%= fa_icon(ding_zwei.get_symbol) %>  <%= ding_zwei.name %>
          <% end %></li>
        <li><%= badge(ass.count.to_s + " mal", :warning) %></li>
        <li>
          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
            <%= fa_icon(:plus) %>
          <% end %>
        </li>
    </ul></li>
  <% end %>
</ul>
<% else %>
  <%= I18n.t("assoziations.index.keine_unbekannten_assoziationen") %>
<% end %>


<% if not params.has_key?(:user_id) %>
<a name="all"></a>
<h2>Stöbern</h2>
<ul class="nav nav-list">
<% @all_asses.each do |ass| %>
  <li>
      <ul class="list-inline">

        <li><%= link_to ass.ding_eins do %>
          <%= fa_icon(ass.ding_eins.get_symbol) %> <%= ass.ding_eins.name %>
          <% end %></li>
        <li><%= link_to ass do %>
            <%= fa_icon("long-arrow-right") %>
          <% end %></li>
        <li><%= link_to ass.ding_zwei do%>
          <%= fa_icon(ass.ding_zwei.get_symbol) %> <%= ass.ding_zwei.name %>
          <% end %></li>
      </ul>
  </li>
<% end %>
</ul>
<%= will_paginate @all_asses, {:params => {anchor: 'all'}} %>
<% end %>
