<style type="text/css">
  svg {
    width: 100%;
    height: 250px;
  }

  #newest_graph {
    width: 100%;
    height: 250px;
    background-color: #f7f9f9;
  }

  #newest_unknown_graph {
    width: 100%;
    height: 250px;
    background-color: #f7f9f9;
  }

  #most_popular_graph {
    width: 100%;
    height: 250px;
    background-color: #f7f9f9;
  }
</style>

<div class="page-header">
  <h1><%= I18n.t("associations") %></h1>
</div>
<h2><%= I18n.t("assoziations.index.neue_assoziation") %></h2>
<%= I18n.t("assoziations.index.füge_eine_neue_assoziation") %> <%= link_to I18n.t("hinzu") , new_assoziation_path %>.

<% if params.has_key?(:user_id) %>
  <% if current_user.id.to_s != params["user_id"] %>
    <h2><%= I18n.t("assoziations.index.Übereinstimmung_mit_dir") %></h2>
    <%= number_to_percentage current_user.get_agreement.detect{|h| h["user2_id"] == params[:user_id].to_i}["agreement"]*100 %> der Assoziationen von '<%= User.find(params[:user_id]).email%>' hast du ebenso assoziiert.
  <% end %>
<% end %>

<% if params.has_key?(:user_id) %>
<h2>Neueste Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.neueste_assoziationen") %></h2>
<% end %>
 
<div class="row">
<div class="col-md-6">
<ul class="list-unstyled list-assoziation">
<% @asses.each do |ass| %>
  <li><%= assoziation_to_html(ass.assoziation, {
    badge_text: ass.created_at.strftime("%Y-%m-%d"),
    button_classes: nil}) %></li>
<% end %>
</ul>
</div>
<div class="col-md-6">
  <div id="newest_graph"></div>
  <script type="text/javascript">
    var graph = Viva.Graph.graph();
    var data;

    <% nodes = {} %>
    <% @asses.each do |ass| %>
      <% ding_eins = ass.assoziation.ding_eins %>
        <% if not nodes.has_key?(ding_eins.id) %>
          data = {label: '<%= ding_eins.name.nil? ? "" : ding_eins.name.truncate(25) %>', size: <%= ding_eins.outdegree+ding_eins.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_eins.id, only_path: false) %>'};
          graph.addNode(<%= ding_eins.id %>, data);
          <% nodes[ding_eins.id] = true %>
        <% end %>

      <% ding_zwei = ass.assoziation.ding_zwei %>
        <% if not nodes.has_key?(ding_zwei.id) %>
          data = {label: '<%= ding_zwei.name.nil? ? "" : ding_zwei.name.truncate(25) %>', size: <%= ding_zwei.outdegree+ding_zwei.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_zwei.id, only_path: false) %>'};
          graph.addNode(<%= ding_zwei.id %>, data);
          <% nodes[ding_zwei.id] = true %>
        <% end %>

        graph.addLink(<%= ding_eins.id %>, <%= ding_zwei.id %>);
    <% end %>
    renderGraph(graph, 'newest_graph');
  </script>
</div>
</div>


<% if params.has_key?(:user_id) %>
<h2>Neueste Unbekannte Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.neueste_unbekannte_assoziationen") %></h2>
<% end %>
<% if @new_unknown_asses.count > 0 %>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled list-assoziation">
    <% @new_unknown_asses.each do |userass| %>
      <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
      <li><%= assoziation_to_html(ass, {
        badge_text: ass.created_at.strftime("%Y-%m-%d"),
        button_classes: nil}) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <div id="newest_unknown_graph"></div>
    <script type="text/javascript">
      var graph = Viva.Graph.graph();
      var data;

      <% nodes = {} %>
      <% @new_unknown_asses.each do |userass| %>
        <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
        <% ding_eins = ass.ding_eins %>
          <% if not nodes.has_key?(ding_eins.id) %>
            data = {label: '<%= ding_eins.name.nil? ? "" : ding_eins.name.truncate(25) %>', size: <%= ding_eins.outdegree+ding_eins.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_eins.id, only_path: false) %>'};
            graph.addNode(<%= ding_eins.id %>, data);
            <% nodes[ding_eins.id] = true %>
          <% end %>

        <% ding_zwei = ass.ding_zwei %>
          <% if not nodes.has_key?(ding_zwei.id) %>
            data = {label: '<%= ding_zwei.name.nil? ? "" : ding_zwei.name.truncate(25) %>', size: <%= ding_zwei.outdegree+ding_zwei.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_zwei.id, only_path: false) %>'};
            graph.addNode(<%= ding_zwei.id %>, data);
            <% nodes[ding_zwei.id] = true %>
          <% end %>

          graph.addLink(<%= ding_eins.id %>, <%= ding_zwei.id %>);
      <% end %>
      renderGraph(graph, 'newest_unknown_graph');
    </script>
  </div>
</div>
<% else %>
  <%= I18n.t("assoziations.index.keine_unbekannten_assoziationen") %>
<% end %>

<% if params.has_key?(:user_id) %>
<h2>Beliebteste Unbekannte Assoziationen von Benutzer <%= User.find(params[:user_id]).email %></h2>
<% else %>
<h2><%= I18n.t("assoziations.index.beliebteste_unbekannte_assoziationen") %></h2>
<% end %>
<% if @new_asses.count > 0 %>
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-list">
      <% @new_asses.each do |userass| %>
        <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
        <li>
          <%= assoziation_to_html(ass, {
            badge_text: ass.count.to_s + " mal",
            button_classes: nil}) %>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <div id="most_popular_graph"></div>
      <script type="text/javascript">
        var graph = Viva.Graph.graph();
        var data;

        <% nodes = {} %>
        <% @new_asses.each do |userass| %>
          <% ass = Assoziation.find(userass["assoziation_id"].to_i) %>
          <% ding_eins = ass.ding_eins %>
            <% if not nodes.has_key?(ding_eins.id) %>
              data = {label: '<%= ding_eins.name.nil? ? "" : ding_eins.name.truncate(25) %>', size: <%= ding_eins.outdegree+ding_eins.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_eins.id, only_path: false) %>'};
              graph.addNode(<%= ding_eins.id %>, data);
              <% nodes[ding_eins.id] = true %>
            <% end %>

          <% ding_zwei = ass.ding_zwei %>
            <% if not nodes.has_key?(ding_zwei.id) %>
              data = {label: '<%= ding_zwei.name.nil? ? "" : ding_zwei.name.truncate(25) %>', size: <%= ding_zwei.outdegree+ding_zwei.indegree %>, url: '<%= url_for(controller: :dings, action: :show, id: ding_zwei.id, only_path: false) %>'};
              graph.addNode(<%= ding_zwei.id %>, data);
              <% nodes[ding_zwei.id] = true %>
            <% end %>

            graph.addLink(<%= ding_eins.id %>, <%= ding_zwei.id %>);
        <% end %>
        renderGraph(graph, 'most_popular_graph');
      </script>
    </div>
  </div>
<% else %>
  <%= I18n.t("assoziations.index.keine_unbekannten_assoziationen") %>
<% end %>


<% if not params.has_key?(:user_id) %>
<a name="all"></a>
<h2>Stöbern</h2>
<ul class="nav nav-list">
<% @all_asses.each do |ass| %>
  <li>
    <%= assoziation_to_html(ass, {
        button_classes: nil}) %>
  </li>
<% end %>
</ul>
<%= will_paginate @all_asses, {:params => {anchor: 'all'}} %>
<% end %>

<% if params.has_key?(:user_id) %>
<h2>Alle Assoziationen</h2>
Alle Assoziationen des Benutzers kannst du <%= link_to 'hier', user_assoziations_path(user_id: params[:user_id]) %> sehen.
<% end %>