<h2>Neue Assoziation</h2>
<%= form_for @assoziation do |f| %>
  <%= f.label :ding %>
  <%= f.autocomplete_field :ding_eins_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_eins_id' %><br>
  <%= hidden_field_tag :selected_ding_eins_id %>
  <%= f.label :ding %>
  <%= f.autocomplete_field :ding_zwei_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_zwei_id' %><br>
  <%= hidden_field_tag :selected_ding_zwei_id %>
  <%= f.submit %>
<% end %>