<h2>Assoziation <%= @ass.id %></h2>
<ul class="list-inline">
	<li><%= link_to @ass.ding_eins.name, @ass.ding_eins %></li>
	<li><%= glyph(:link) %></li>
    <li><%= link_to @ass.ding_zwei.name, @ass.ding_zwei %></li>
 </ul>

<h2><%= I18n.t("assoziations.show.häufigkeit") %></h2>
<p>Diese beiden Dinge sind insgesamt von <%= @ass.count %><%= I18n.t("assoziations.show.benutzern_assoziiert_worden") %></p>
<% @ass.user_assoziations.each do |userass| %>
<ul class="list-inline">
		<li><%= glyph(:user) %> <%= link_to userass.user.email, userass.user %></li>
		<li>(Details: <%= link_to userass do %>
		            <%= glyph(:link) %><% end %>
			)</li>
</ul>
<% end %>
<% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => @ass.id).count == 0 %>
<h2><%= I18n.t("assoziations.show.assoziieren") %></h2>
<%= I18n.t("assoziations.show.ich_assoziiere_diese_beiden_dinge_auch") %><%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + @ass.id.to_s + ');' do %>
            <%= glyph(:plus) %>
          <% end %>
<% end %>
