<div class="page-header">
  <h1><%= I18n.t("assoziation") %> <%= @ass.id %></h1>
</div>
<div class="jumbotron assoz-jumbotron">
  <h1><ul class="list-inline">
	<li><%= link_to @ass.ding_eins.name, @ass.ding_eins %></li>
	<li><%= fa_icon(:link) %></li>
    <li><%= link_to @ass.ding_zwei.name, @ass.ding_zwei %></li>
 </ul></h1>
</div>

<h2></h2>
<p><%= I18n.t("assoziations.show.these_two_things") %> <%= @ass.count %> <%= I18n.t("assoziations.show.benutzern_assoziiert_worden") %></p>
<% @ass.user_assoziations.each do |userass| %>
<ul class="list-inline">
		<% if userass.published %>
			<li><%= fa_icon(:user) %> <%= link_to userass.user.email, userass.user %></li>
			<li>(Details: <%= link_to userass do %>
			            <%= fa_icon(:link) %><% end %>
				)</li>
		<% else %>
			<li><%= fa_icon(:user) %> Anonym</li>
		<% end %>
</ul>
<% end %>
<% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => @ass.id).count == 0 %>
<h2><%= I18n.t("assoziations.show.assoziieren") %></h2>
<%= I18n.t("assoziations.show.ich_assoziiere_diese_beiden_dinge_auch") %><%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + @ass.id.to_s + ');' do %>
            <%= fa_icon(:plus) %>
          <% end %>
<% end %>
