
<div class="page-header">
  <h1><%= I18n.t("welcome.index.willkommen") %></h1>
</div>
<% if UserAssoziation.where(user: current_user).count < 10 %>
<%= I18n.t("welcome.index.add_some_associations") %> <%= link_to :hier, assoziations_path %> Assoziationen anderer anschauen oder <%= link_to :hier, dings_path %> die am häufigsten assoziierten Dinge.
<% else %>
<%= I18n.t("welcome.index.wir_empfehlen_dir_die_assoziationen_der_folgenden_benutzer_anzuschauen") %>
	<ul>
	<% current_user.get_agreement.first(5).each do |agreement| %>
		<% user = User.find(agreement["user2_id"]) %>
		<li><%= link_to user.email, :controller => :assoziations, :action => :index, :user_id => user.id %> <%= badge(number_to_percentage(agreement["agreement"]*100), :warning) %></li>
	<% end %>
	<ul>
<% end %>
