<div class="page-header">
  <h1><%= I18n.t("things") %></h1>
</div>

<h2><%= I18n.t("dings.index.meist_assoziierte_dinge") %></h2>
<ul class="list-unstyled list-ding">
<% @pop_dings.each do |pop_ding| %>
	<% ding = Ding.find(pop_ding["ding_id"]) %>
	<li><%= ding_to_html(ding, {:badge_text => ding.outdegree.to_s, :badge_icon => :link}) %></li>
<% end %>
</ul>

<h2><%= I18n.t("dings.index.neueste_dinge") %></h2>
<ul class="list-unstyled list-ding">
<% @newest_dings.each do |ding| %>
	<li><%= ding_to_html(ding, {:badge_text => ding.created_at.strftime("%Y-%m-%d")}) %></li>
<% end %>
</ul>

<a name="all"></a>
<h2>Stöbern</h2>
<ul class="list-unstyled list-ding">
<% @all_dings.each do |ding| %>
	<li><%= ding_to_html(ding) %></li>
<% end %>
</ul>
<%= will_paginate @all_dings, {:params => {anchor: 'all'}} %>