<h2><%= I18n.t("dings.index.neues_ding") %></h2>
<%= I18n.t("dings.index.füge_ein_neues_ding") %> <%= link_to link_to I18n.t("hinzu"), new_ding_path %>.

<h2><%= I18n.t("dings.index.meist_assoziierte_dinge") %></h2>
<ul class="nav nav-list">
<% @pop_dings.each do |pop_ding| %>
	<% ding = Ding.find(pop_ding["ding_id"]) %>
	<li>
	    <ul class="list-inline">
	        <li><%= link_to ding do %>
	        	<%= glyph(ding.get_symbol) %> <%= ding.name %>
	        	<% end %></li>
	        <li><span class="badge"><%= pop_ding["count"] %> <%= glyph(:link) %></span></li>
	    </ul>
	</li>
<% end %>
</ul>

<h2><%= I18n.t("dings.index.neueste_dinge") %></h2>
<ul class="nav nav-list">
<% @newest_dings.each do |ding| %>
	<li>
	    <ul class="list-inline">
	        <li><%= link_to ding do %>
	        	<%= glyph(ding.get_symbol) %> <%= ding.name %>
	        	<% end %></li>
	        <li><%= badge(ding.created_at.strftime("%Y-%m-%d")) %></li>
	    </ul>
	</li>
<% end %>
</ul>

<a name="all"></a>
<h2>Stöbern</h2>
<ul class="nav nav-list">
<% @all_dings.each do |ding| %>
	<li>
	    <ul class="list-inline">
	        <li><%= link_to ding do %>
	        	<%= glyph(ding.get_symbol) %> <%= ding.name %>
	        	<% end %></li>
	    </ul>
	</li>
<% end %>
</ul>
<%= will_paginate @all_dings, {:params => {anchor: 'all'}} %>