<h2>Neues Ding</h2>
Füge ein neues Ding <%= link_to :hinzu, new_ding_path %>.

<h2>Meist assoziierte Dinge</h2>
<ul class="nav nav-list">
<% @pop_dings.each do |pop_ding| %>
	<% ding = Ding.find(pop_ding["ding_id"]) %>
	<li>
	    <ul class="list-inline">
	        <li><%= glyph(:paperclip) %></li>
	        <li><%= link_to ding.name, ding %></li>
	        <li><span class="badge"><%= pop_ding["count"] %> <%= glyph(:link) %></span></li>
	    </ul>
	</li>
<% end %>
</ul>

<h2>Neueste Dinge</h2>
<ul class="nav nav-list">
<% @newest_dings.each do |ding| %>
	<li>
	    <ul class="list-inline">
	        <li><%= glyph(:paperclip) %></li>
	        <li><%= link_to ding.name, ding %></li>
	        <li><%= badge(ding.created_at.strftime("%Y-%m-%d")) %></li>
	    </ul>
	</li>
<% end %>
</ul>
