<h1>Ding <% if @ding.has_translation(:name, params[:locale]) %>'<%= best_in_place @ding, :name, :as => :input %>'<% else %>&lt;???&gt;<% end %></h1>
<% if not @ding.has_translation(:name, params[:locale]) %>
	Für den Namen dieses Dings wurde noch keine Übersetzung für deine Sprache hinterlegt. Bitte nutze das Textfeld um deine Übersetzung hinzuzufügen. Es folgen ein paar Übersetzungen in anderen Sprachen:
	<ul>
		<% if @ding.name_de %><li>Deutsch: <%= @ding.name_de %></li><% end %>
		<% if @ding.name_en %><li>English: <%= @ding.name_en %></li><% end %>
		<% if @ding.name_dk %><li>Dansk: <%= @ding.name_dk %></li><% end %>
	</ul>
	<%= form_for @ding, :url => ding_add_translation_path(@ding), :method => :post do |f| %>
	  <%= hidden_field_tag :locale, params[:locale] %>
	  <%= f.label :ding %><br>
	  <%= f.text_field :name, :value => '' %>
	  <%= f.submit :value => 'Add Translation' %>
	<% end %>
<% end %>

<% if current_user.favorits.where(:ding_id => @ding.id).count == 0 %>
<%= glyph('star-empty') %> - zu Favoriten <%= link_to (url = '#'), :onclick => 'add_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
			            hinzufügen
			          <% end %>
<% else %>
<%= glyph('star') %> - von Favoriten <%= link_to (url = '#'), :onclick => 'remove_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
			            löschen
			          <% end %>
<% end %>

<h2>Beschreibung</h2>
<% if not @ding.description.nil? %>
<%= @ding.description %>
<% else %>
Bislang keine Beschreibung vorhanden.
<% end %>

<h2>Dieses Ding wurde mit den folgenden Dingen assoziiert:</h2>
	<ul class="nav nav-list">
		<% @ding.assoziierte_dinge.each do |anderes_ding, ass| %>
			<% ding = Ding.find(anderes_ding) %>
			<% if ass.user_assoziations.count > 0 %>
			<li>
			    <ul class="list-inline">
	        		<li><span style="vertical-align:middle"><%= glyph(:paperclip) %></span></li>
	        		<li><%= link_to ding.name, ding %></li>
			        <li>(<%= link_to ass do %><span style="vertical-align:middle"><%= glyph(:link) %></span><% end %>)</li>
			        <li><%= badge(ass.user_assoziations.count.to_s + " mal", :warning) %></li>
			        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass.id).count == 0 %>
			        <li>
			          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
			            <%= glyph(:plus) %>
			          <% end %>
			        </li>
			        <% end %>
			    </ul>
			</li>
			<% end %>
		<% end %>
	</ul>

<h2>Womit assoziierst du dieses Ding?</h2>
<%= form_for @assoziation, :url => new_assoziation_path(), :method => :get do |f| %>
  <%= f.label :ding %><br>
  <%= hidden_field_tag :ding_eins_id, @ding.id %>
  <%= f.autocomplete_field :ding_zwei_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_zwei_id' %>
  <%= hidden_field_tag :selected_ding_zwei_id %>
  <%= f.submit %>
<% end %>