<h1>Ding '<%= best_in_place @ding, :name, :as => :input %>'</h1>
<%# Kategorie: <%= best_in_place @ding, :kategorie, :as => :select, :collection => Hash[*Kategorie.all.map{ |x| [x.id, x.name] }.flatten] %>
<%# if @ding.kategorie %>
<%#= link_to @ding.kategorie.name, @ding.kategorie %>
<%# else %>

<%# end %>

<h2>Beschreibung</h2>
<% if not @ding.description.nil? %>
<%= @ding.description %>
<% else %>
Bislang keine Beschreibung vorhanden.
<% end %>

<h2>Dieses Ding wurde mit den folgenden Dingen assoziiert:</h2>
	<ul class="nav nav-list">
		<% @ding.assoziierte_dinge.each do |anderes_ding, count| %>
			<% ding = Ding.find(anderes_ding) %>
			<li>
			    <ul class="list-inline">
	        		<li><%= glyph(:paperclip) %></li>
			        <li><%= link_to ding.name, ding %></li>
			        <li><%= badge(count.to_s + " mal", :warning) %></li>
			        <% asses = Assoziation.where(:ding_eins_id => @ding.id, :ding_zwei_id => ding.id) %>
			        <% if asses.count > 0 %>
			        <% ass_id = asses.first.id %>
			        <% else %>
			        <% ass_id = Assoziation.where(:ding_eins_id => ding.id, :ding_zwei_id => @ding.id).first.id %>
			        <% end %>
			        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass_id).count == 0 %>
			        <li>
			          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass_id.to_s + ');' do %>
			            <%= glyph(:plus) %>
			          <% end %>
			        </li>
			        <% end %>
			    </ul>
			</li>
		<% end %>
	</ul>

<h2>Womit assoziierst du dieses Ding?</h2>
<%= form_for @assoziation, :url => new_assoziation_path(), :method => :get do |f| %>
  <%= f.label :ding %><br>
  <%= hidden_field_tag :ding_eins_id, @ding.id %>
  <%= f.autocomplete_field :ding_zwei_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_zwei_id' %>
  <%= hidden_field_tag :selected_ding_zwei_id %>
  <%= f.submit %>
<% end %>