<script type="text/javascript">
	$(function() {
		$('#assoziation_ding_zwei_id').focus(function(){            
	        $(this).autocomplete('search');
	    });
	})
</script>

<!--<div class="page-header">
	<h1>Ding</h1>
</div>-->
<% if @can_access %>
	<% content_for :title, @ding.name + " - " + @ding.ding_typ.name %>
	<% if @ding.ding_typ(current_user).name == 'Image' %>
		<div class="page-header image-jumbotron" style="background-image: url('<%= @ding.name %>');">
	<% else %>
		<div class="page-header assoz-jumbotron">
	<% end %>
	  <div class="h1">
	  	<% if not @ding.published %><i><% end %>
	  	<%= fa_icon(@ding.get_symbol) %>
		<% if @ding.ding_typ.name != 'Ding' or @ding.has_translation(:name, params[:locale]) %>
			<span id="ding_name_label"><%= @ding.name %></span>
			<%= form_for(@ding, :html => {:class => "hidden edit_ding_name", :style=>"display: inline-block;"}) do |f| %>
				<%= f.text_field :name %>
				<%= f.button_tag "Cancel", type: :reset, onclick: "hideNameEditForm();" %>
				<%= f.submit "Change Name" %>
			<% end %>

			<script type="text/javascript">

				function showNameEditForm() {
					$(".edit_ding_name").removeClass("hidden");
					$("#ding_name_label").addClass("hidden");
					$("#ding_name").focus();
				}

				function hideNameEditForm() {
					$(".edit_ding_name").addClass("hidden");
					$("#ding_name_label").removeClass("hidden");
				}

				$("#ding_name_label").click(function(x) {
					showNameEditForm();
				});
			</script>
		<% else %>
			&lt;???&gt;
		<% end %>
		<% if not @ding.published %></i><% end %>
	  </div>
	</div>
		<div class="h4">Typ: 
			<span id="ding_typ_label"><%= @ding.ding_typ.name %></span>
			<%= form_for(@ding, :html => {:class => "hidden edit_ding_typ", :style=>"display: inline-block;"}) do |f| %>
				<%= f.select :ding_typ_id, DingTyp.all.collect{|x| [x.name, x.id]} %>
				<%= f.button_tag "Cancel", type: :reset, onclick: "hideTypEditForm();" %>
				<%= f.submit "Change Typ" %>
			<% end %>

			<script type="text/javascript">

				function showTypEditForm() {
					$(".edit_ding_typ").removeClass("hidden");
					$("#ding_typ_label").addClass("hidden");
					$("#ding_ding_typ_id").focus();
				}

				function hideTypEditForm() {
					$(".edit_ding_typ").addClass("hidden");
					$("#ding_typ_label").removeClass("hidden");
				}

				$("#ding_typ_label").click(function(x) {
					showTypEditForm();
				});
			</script>
		<%#= best_in_place @ding, :ding_typ_id, :as => :select, :collection => Hash[DingTyp.all.map {|x| [x.id, x.name]}], :classes => 'reload_on_success' %>
		</div>
		<% if @can_toggle_publish %>
		<div class="h4">Öffentlich?:
		<%= best_in_place @ding, :published, :as => :checkbox, :collection => [raw("<i class='fa fa-square-o'></i>"), raw("<i class='fa fa-check-square-o'></i>")] %>
		</div>
		<% end %>
	<% if @ding.ding_typ(current_user).name == 'Ding' and not @ding.has_translation(:name, params[:locale]) %>
		<%= I18n.t("dings.show.für_den_namen_dieses_dings_wurde_noch_keine_Übersetzung_für_deine_sprache_hinterlegt_bitte_nutze_das_textfeld_um_deine_Übersetzung_hinzuzufügen_es_folgen_ein_paar_Übersetzungen_in_anderen_sprachen") %>
		<ul>
			<% if @ding.name_de %><li>Deutsch: <%= @ding.name_de %></li><% end %>
			<% if @ding.name_en %><li>English: <%= @ding.name_en %></li><% end %>
			<% if @ding.name_dk %><li>Dansk: <%= @ding.name_dk %></li><% end %>
		</ul>
		<%= form_for @ding, :url => ding_add_translation_path(@ding), :method => :post do |f| %>
		  <%= hidden_field_tag :locale, params[:locale] %>
		  <%= f.label I18n.t("dings.show.ding") %><br>
		  <%= f.text_field :name, :value => '' %>
		  <%= f.submit I18n.t("dings.show.value") => 'Add Translation' %>
		<% end %>
	<% end %>

	<% if current_user.favorits.where(:ding_id => @ding.id).count == 0 %>
	<%= fa_icon('star-o') %> <%= link_to (url = '#'), :onclick => 'add_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
				            zu Favoriten <%= I18n.t("dings.show.hinzufügen") %>
				          <% end %>
	<% else %>
	<%= fa_icon('star') %> <%= link_to (url = '#'), :onclick => 'remove_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
				            von Favoriten <%= I18n.t("dings.show.löschen") %>
				          <% end %>
	<% end %>

	<% if @ding.name.start_with?('http') %>
		<br>
		<%= fa_icon("external-link") %>
		<%= link_to @ding.name, target: "_blank" do %>
			Open URL
		<% end %>
	<% end %>

	<h2><%= I18n.t("dings.show.womit_assoziierst_du_dieses_ding") %></h2>
	<%= form_for @assoziation, :url => new_assoziation_path(@assoziation), :method => :get, :html => {:class => 'form-inline'} do |f| %>
	  <%= f.label I18n.t("dings.show.ding") %><br>
	  <%= hidden_field_tag :ding_eins_id, @ding.id %>
	  <div class="input-group">
      <%= f.autocomplete_field :ding_zwei_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_zwei_id', :class => "form-control" %>
      <% if @ding.ding_typ(current_user).name == 'Habit' %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shortcuts <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a onclick="insertTodayTimestamp();">Insert Today</a></li>
          <li><a onclick="insertYesterdayTimestamp();">Insert Yesterday</a></li>
        </ul>
      </div><!-- /btn-group -->
    <% end %>
    </div><!-- /input-group -->
	  <%= f.label "Publish?" %>
	  <%= check_box :user_assoziation, :published, {:checked => @ding.published} %>
	  <%= f.label "Assoziiere in beide Richtungen?" %>
	  <%= check_box :assoziation, :symmetric, {:checked => true} %>
	  <%= hidden_field_tag :selected_ding_zwei_id %><br>
	  <%= f.submit %>
	<% end %>


	<% if @ding.ding_typ(current_user).name == 'URL' %>
		<% if @page_preview %>
			<h2>URL Info</h2>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Page Title</h4>
			    <p class="list-group-item-text"><%= @page_preview.title %></p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Page Description</h4>
			    <p class="list-group-item-text"><%= @page_preview.description %></p>
			  </a>
			  <% if @page_preview.images.count > 0 %>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Image</h4>
			    <p class="list-group-item-text">
			    	<%= image_tag @page_preview.images.first.src.to_s, :height => '128' %>
			    </p>
			  </a>
			  <% end %>
			</div>
		<% end %>
	<% elsif  @ding.ding_typ(current_user).name == 'Image' %>
		<h2>Eingebettetes Bild</h2>
		<%= link_to @ding.name, {:class => 'fancybox'} do %>
			<img src="<%= @ding.name %>" alt="<%= @ding.name %>" style="height:240px;">
		<% end %>
	<% elsif  @ding.ding_typ(current_user).name == 'Video' %>
		<h2>Eingebettetes Video</h2>
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="<%= @ding.get_video_link %>" allowfullscreen></iframe>
		</div>
	<% elsif  @ding.ding_typ(current_user).name == 'Quote' %>
		<h2>Zitat</h2>
		<blockquote>
			<% quote = @ding.name.scan(/"([^"]*)"/)[0][0] %>
			<% author = @ding.name.include?(",") ? @ding.name.rpartition(',').last : nil %>
			<p><%= quote %></p>
			<% if author %>
			<footer><%= author %></footer>
			<% end %>
		</blockquote>
	<% elsif  @ding.ding_typ(current_user).name == 'Todo List' or @ding.ding_typ(current_user).name == 'Todo List Done' %>
		<h2>Diese Liste ist Teil der folgenden Todo Listen</h2>
		<ul class="nav nav-list">
			<% @sublistof.each do |ass| %>
				<% ding = ass.ding_eins %>
				<li>
				    <ul class="list-inline">
		        		<li><span style="vertical-align:middle"><%= fa_icon(ding.get_symbol) %></span></li>
		        		<li><%= link_to ding.name, ding %></li>
				        <li>(<%= link_to ass do %><span style="vertical-align:middle"><%= fa_icon("long-arrow-right") %></span><% end %>)</li>
				        <li><%= badge(ass.user_assoziations.count.to_s + " mal", :warning) %></li>
				        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass.id).count == 0 %>
				        <li>
				          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
				            <%= fa_icon(:plus) %>
				          <% end %>
				        </li>
				        <% end %>
				    </ul>
				</li>
			<% end %>
		</ul>
		<h2>Todo Liste Fortschritt</h2>
		  	<% if @todos.count+@done_todos.count > 0 %>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @perc_finished %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @perc_finished %>%;">
		    <%= @perc_finished %>% (<%= @done_todos.count %>/<%= @todos.count+@done_todos.count %>)
		  </div>
		</div>
		    <% else %>
		    	Diese Todo Liste hat keine Einträge.
		    <% end %>
	<% elsif  @ding.ding_typ(current_user).name == 'Todo' or @ding.ding_typ(current_user).name == 'Todo Done' %>
		<h2>Dieses Todo ist Teil der folgenden Todo Listen</h2>
		<ul class="nav nav-list">
			<% @todoof.each do |ass| %>
				<% ding = ass.ding_eins %>
				<li>
				    <ul class="list-inline">
		        		<li><span style="vertical-align:middle"><%= fa_icon(ding.get_symbol) %></span></li>
		        		<li><%= link_to ding.name, ding %></li>
				        <li>(<%= link_to ass do %><span style="vertical-align:middle"><%= fa_icon("long-arrow-right") %></span><% end %>)</li>
				        <li><%= badge(ass.user_assoziations.count.to_s + " mal", :warning) %></li>
				        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass.id).count == 0 %>
				        <li>
				          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
				            <%= fa_icon(:plus) %>
				          <% end %>
				        </li>
				        <% end %>
				    </ul>
				</li>
			<% end %>
		</ul>
	<% elsif @ding.ding_typ(current_user).name == 'Habit' and @habit_info %>
		<% if @habit_info[:streak] > 1 %>
		<h2>Streak</h2>
		<div class="alert alert-success" role="alert">
			<strong>Du hast einen <%= @habit_info[:streak] %>-Streak! Glückwunsch!</strong>
		</div>
		<% end %>
		<h2>Fälligkeit</h2>
		<% if @habit_info[:is_overdue] %>
			<div class="alert alert-warning" role="alert">
				Dieses Habit ist seit <%= distance_of_time_in_words(@habit_info[:latest_time]+@habit_info[:ts],Time.now) %> überfällig.
			</div>
		<% else %>
			<div class="alert alert-info" role="alert">
				Dieses Habit ist das nächste mal fällig in <%= distance_of_time_in_words(Time.now,@habit_info[:latest_time]+@habit_info[:ts]) %>.
			</div>
		<% end %>
		<h2>Kalender</h2>
			<% @habit_info[:last_month].each do |block| %>
				<div style="padding:2px;">
				<% block.each do |event, date| %>
					<% if event == "Todo Done" %>
						<span class="label label-success" style="border: 1px solid #000; margin:1px;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "Todo Fail" %>
						<span class="label label-danger" style="border: 1px solid #000; margin:1px;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "Todo Skip" %>
						<span class="label label-primary" style="border: 1px solid #000; margin:1px;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "" %>
						<span class="label label-info" style="background-color:#FFF; border: 1px dotted #000; margin:1px;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "Today" %>
						<span class="label label-info" style="color: #000; background-color:#FFF; border: 2px dotted #000;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "Today Done" %>
						<span class="label label-success" style="border: 2px dotted #000;" title="<%= date %>">&nbsp;</span>
					<% elsif event == "Today Fail" %>
						<span class="label label-danger" style="border: 2px dotted #000;" title="<%= date %>">&nbsp;</span>
					<% end %>
				<% end %>
				</div>
			<% end %>
	<% elsif @ding.ding_typ(current_user).name == 'Habit Collection' %>
		<h2>Status der Habits</h2>
		<ul class="list-unstyled list-ding">
			<% @habit_groups.each do |ts, habits| %>
				<% if ts %>
					<h3><%= distance_of_time_in_words(ts) %></h3>
					<% habits.each do |habit, habit_info| %>
						<li><%= ding_to_html(habit) %>
							<% if habit_info %>
								<% if habit_info[:streak] > 1 %>
									<span class="label label-success"><%= habit_info[:streak] %><span class="text-responsive">-Streak!</span></span>
								<% end %>
								<% if habit_info[:is_overdue] %>
									<span class="label label-warning">
										<span class="text-responsive">seit</span> <%= distance_of_time_in_words(habit_info[:latest_time]+habit_info[:ts],Time.now) %> <span class="text-responsive">überfällig</span>
									</span>
								<% else %>
									<span class="label label-info">
										<span class="text-responsive">fällig in</span> <%= distance_of_time_in_words(Time.now,habit_info[:latest_time]+habit_info[:ts]) %>
									</span>
								<% end %>
							<% end %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	<% end %>

	<h2><%= I18n.t("dings.show.dieses_ding_wurde_mit_den_folgenden_dingen_assoziiert") %></h2>
		<ul class="list-unstyled list-assoziation">
			<% @ding.assoziierte_dinge(current_user).each do |anderes_ding, ass| %>
				<% ding = anderes_ding %>
				<li><%= assoziation_to_html(ass, {
					button_classes: nil,
					badge_text: ass.user_assoziations.count.to_s + "<span class=\"text-responsive\"> mal</span>",
					redirect_to: ding_path(@ding)}) %></li>
			<% end %>
		</ul>

	<h2>Nachbarschafts-Graph</h2>
	<style type="text/css">
		svg {
			width: 90%;
			height: 500px;
		}

		#graph {
			width: 90%;
			height: 500px;
			background-color: #f7f9f9;
		}
	</style>
	<div id="graph"></div>
	<script type="text/javascript">
		var graph = Viva.Graph.graph();
		var data = {label: '<%= @ding.name.nil? ? "" : @ding.name.truncate(25) %>', size: <%= @ding.indegree.to_i+@ding.outdegree.to_i %>, url: '<%= url_for(controller: :dings, action: :show, id: @ding.id, only_path: false) %>'};
		graph.addNode(0, data);

		<% i = 1 %>
		<% @ding.assoziierte_dinge(current_user).each do |anderes_ding, ass| %>
			<% ding = anderes_ding %>
			<% if ass.user_assoziations.count > 0 %>
				data = {label: '<%= @ding.name.nil? ? "" : ding.name.truncate(25) %>', size: <%= ding.indegree.to_i+ding.outdegree.to_i %>, url: '<%= url_for(controller: :dings, action: :show, id: ding.id, only_path: false) %>'};
				graph.addNode(<%= i %>, data);
				graph.addLink(0, <%= i %>);
		    <% end %>
		    <% i = i + 1 %>
		<% end %>

		renderGraph(graph, 'graph');
	</script>

	<h2><%= I18n.t("dings.show.beschreibung") %></h2>
	<div id="descr">
	<%# if not @ding.description.nil? %>
	<%#= @ding.description %>
	<%= best_in_place @ding, :description, :as => :textarea, :classes => 'reload_on_success' %>
	<%# else %>
	<%#= I18n.t("dings.show.bislang_keine_beschreibung_vorhanden") %>
	<%# end %>
	</div>

	<% if @ding.ding_typ(current_user).name == 'Markdown' %>
	<h2>Markdown</h2>
	<div id="content"></div>
	  <script>
		marked.setOptions({
		  renderer: new marked.Renderer(),
		  gfm: true,
		  tables: true,
		  breaks: true,
		  pedantic: false,
		  sanitize: true,
		  smartLists: true,
		  smartypants: true
		});

	    document.getElementById('content').innerHTML =
	      marked($('#descr').text());
	  </script>
	 <% end %>

	<% if @ding.ding_typ(current_user).name == 'LaTeX' %>
	<h2>LaTeX</h2>
	<img src="<%= url_for(:action => :description_as_png, :ding_id => @ding.id,:format => :png)%>">
	<% end %>
<!--
	<%# if @ding.ding_typ(current_user).name == 'R' %>
	<h2>R</h2>
	<img src="<%#= url_for(:action => :r_plot, :ding_id => @ding.id,:format => :png)%>">
	<%# end %>
-->
<% else %>
	<div class="alert alert-warning" role="alert">
	  Du hast keinen Zugriff auf dieses Ding.
	</div>
<% end %>