<h1><%= @ding.ding_typ.name %>
	<% if @ding.ding_typ != DingTyp.find_by_name('Ding') or @ding.has_translation(:name, params[:locale]) %>
		'<%= best_in_place @ding, :name, :as => :input %>'
	<% else %>
		&lt;???&gt;
	<% end %>
</h1>
<% if @ding.ding_typ == DingTyp.find_by_name('Ding') and not @ding.has_translation(:name, params[:locale]) %>
	<%= I18n.t("dings.show.für_den_namen_dieses_dings_wurde_noch_keine_Übersetzung_für_deine_sprache_hinterlegt_bitte_nutze_das_textfeld_um_deine_Übersetzung_hinzuzufügen_es_folgen_ein_paar_Übersetzungen_in_anderen_sprachen") %>
	<ul>
		<% if @ding.name_de %><li>Deutsch: <%= @ding.name_de %></li><% end %>
		<% if @ding.name_en %><li>English: <%= @ding.name_en %></li><% end %>
		<% if @ding.name_dk %><li>Dansk: <%= @ding.name_dk %></li><% end %>
	</ul>
	<%= form_for @ding, :url => ding_add_translation_path(@ding), :method => :post do |f| %>
	  <%= hidden_field_tag :locale, params[:locale] %>
	  <%= f.label I18n.t("dings.show.ding") %><br>
	  <%= f.text_field :name, :value => '' %>
	  <%= f.submit I18n.t("dings.show.value") => 'Add Translation' %>
	<% end %>
<% end %>

<% if current_user.favorits.where(:ding_id => @ding.id).count == 0 %>
<%= glyph('star-empty') %> <%= link_to (url = '#'), :onclick => 'add_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
			            zu Favoriten <%= I18n.t("dings.show.hinzufügen") %>
			          <% end %>
<% else %>
<%= glyph('star') %> <%= link_to (url = '#'), :onclick => 'remove_favorit_for_curr_user(' + current_user.id.to_s + ', ' + @ding.id.to_s + ');' do %>
			            von Favoriten <%= I18n.t("dings.show.löschen") %>
			          <% end %>
<% end %>

<% if @ding.ding_typ == DingTyp.find_by_name('URL') %>
	<br>
	<%= glyph("new-window") %>
	<%= link_to @ding.name, target: "_blank" do %>
		Open URL
	<% end %>
<% elsif  @ding.ding_typ == DingTyp.find_by_name('Image') %>
	<br>
	<%= link_to @ding.name, {:class => 'fancybox'} do %>
		<img src="<%= @ding.name %>" alt="<%= @ding.name %>" style="height:240px;">
	<% end %>
<% elsif  @ding.ding_typ == DingTyp.find_by_name('Video') %>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="<%= @ding.get_video_link %>" allowfullscreen></iframe>
	</div>
<% end %>

<h2>Typ</h2>
<%= best_in_place @ding, :ding_typ_id, :as => :select, :collection => Hash[DingTyp.all.map {|x| [x.id, x.name]}] %>

<h2><%= I18n.t("dings.show.beschreibung") %></h2>
<% if not @ding.description.nil? %>
<%= @ding.description %>
<% else %>
<%= I18n.t("dings.show.bislang_keine_beschreibung_vorhanden") %>
<% end %>

<h2><%= I18n.t("dings.show.dieses_ding_wurde_mit_den_folgenden_dingen_assoziiert") %></h2>
	<ul class="nav nav-list">
		<% @ding.assoziierte_dinge.each do |anderes_ding, ass| %>
			<% ding = Ding.find(anderes_ding) %>
			<% if ass.user_assoziations.count > 0 %>
			<li>
			    <ul class="list-inline">
	        		<li><span style="vertical-align:middle"><%= glyph(ding.get_symbol) %></span></li>
	        		<li><%= link_to ding.name, ding %></li>
			        <li>(<%= link_to ass do %><span style="vertical-align:middle"><%= glyph(:link) %></span><% end %>)</li>
			        <li><%= badge(ass.user_assoziations.count.to_s + " mal", :warning) %></li>
			        <% if UserAssoziation.where(:user_id => current_user.id).where(:assoziation_id => ass.id).count == 0 %>
			        <li>
			          <%= link_to (url = '#'), :onclick => 'create_asso_for_curr_user(' + ass.id.to_s + ');' do %>
			            <%= glyph(:plus) %>
			          <% end %>
			        </li>
			        <% end %>
			    </ul>
			</li>
			<% end %>
		<% end %>
	</ul>


<h2>Nachbarschafts-Graph</h2>
<style type="text/css">
	svg {
		width: 90%;
		height: 500px;
	}
</style>
<div id="graph" style="width: 90%; height: 500px;"></div>
<script type="text/javascript">
	var graph = Viva.Graph.graph();
	var data = {label: '<%= @ding.name %>', size: <%= @ding.assoziierte_dinge.count %>, url: '<%= url_for(controller: :dings, action: :show, id: @ding.id, only_path: false) %>'};
	graph.addNode(0, data);

	<% i = 1 %>
	<% @ding.assoziierte_dinge.each do |anderes_ding, ass| %>
		<% ding = Ding.find(anderes_ding) %>
		<% if ass.user_assoziations.count > 0 %>
			data = {label: '<%= ding.name %>', size: <%= ding.assoziierte_dinge.count %>, url: '<%= url_for(controller: :dings, action: :show, id: ding.id, only_path: false) %>'};
			graph.addNode(<%= i %>, data);
			graph.addLink(0, <%= i %>);
	    <% end %>
	    <% i = i + 1 %>
	<% end %>

	var graphics = Viva.Graph.View.svgGraphics();
	graphics.node(function(node) {
		console.log(node);
       // The function is called every time renderer needs a ui to display node
       var link = Viva.Graph.svg('a')
             .link(node.data.url);
       var circle = Viva.Graph.svg('circle')
             .attr('r', 5+Math.log(node.data.size))
             .attr('stroke', '#FFFFFF')
             .attr('stroke-width', '2px');
       link.append(circle);
             
		var text = Viva.Graph.svg('text')
			.attr('style', 'fill: #000000;')
			.attr('opacity','1')
		    .text(node.data.label);
		var ui = Viva.Graph.svg("g");
		ui.append(link);
		//ui.append(circle);
		ui.append(text);
		return ui;
    })
    .placeNode(function(nodeUI, pos){
        // Shift image to let links go to the center:
		var circle = nodeUI.childNodes[0].childNodes[0];
		var radius = Number(circle.attr('r'));
		var text = nodeUI.childNodes[1];

		circle.attr('cx', pos.x).attr('cy', pos.y);
		text.attr('x', pos.x + radius + 5).attr('y', pos.y);
    });

					
	layout = Viva.Graph.Layout.forceDirected(graph, {
	    springLength : 10,
	    springCoeff : 0.00005,
	    dragCoeff : 0.02,
	    gravity : -5,
	    stableThreshold: graph.getNodesCount()
	});

	var renderer = Viva.Graph.View.renderer(graph, {
		layout: layout,
		graphics: graphics,
		interactive: 'node drag',
		container: document.getElementById('graph')
	});
	renderer.run();
</script>

<h2><%= I18n.t("dings.show.womit_assoziierst_du_dieses_ding") %></h2>
<%= form_for @assoziation, :url => new_assoziation_path(), :method => :get do |f| %>
  <%= f.label I18n.t("dings.show.ding") %><br>
  <%= hidden_field_tag :ding_eins_id, @ding.id %>
  <%= f.autocomplete_field :ding_zwei_id, autocomplete_ding_name_dings_path, :id_element => '#selected_ding_zwei_id' %>
  <%= hidden_field_tag :selected_ding_zwei_id %>
  <%= f.submit %>
<% end %>
