<p>Hello <%= @resource.email %>!</p>

<p><%= I18n.t("devise.mailer.reset_password_instructions.someone_has_requested_a_link_to_change_your_password_you_can_do_this_through_the_link_below") %></p>

<p><%= link_to I18n.t("devise.mailer.reset_password_instructions.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t("devise.mailer.reset_password_instructions.if_you_didnt_request_this_please_ignore_this_email") %></p>
<p><%= I18n.t("devise.mailer.reset_password_instructions.your_password_wont_change_until_you_access_the_link_above_and_create_a_new_one") %></p>
